.icon {
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 100px;
  height: 150px;
}

.card:hover {
  background-color: black;
  opacity: 0.1;
}

.card:hover:active {
  opacity: 0.4;
}
.cardContainer {
  text-align: center;
}

.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popupContent {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
}

/* .popupContent button {
    margin-top: auto;
    margin-bottom: 10px;
} */

.popupContent input {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.label1 {
  margin-top: 20px;
}

.popupContent .button1 {
  margin-top: auto;
}

.popupContent .button2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
