@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  background-color: #F5F5F5;
  font-family: 'League Spartan', sans-serif;
  color: black;
  margin: 0;
}


/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 0;
}

/* Optional: style the track (the area behind the thumb) */
::-webkit-scrollbar-track {
  background: transparent;
  /* or any background color you want */
}

/* Optional: style the thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: transparent;
  /* or any background color you want */
}
